@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;

  .title {
    font-size: 48px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;

    
  }
  .description {
    font-size: 18px;
    margin-bottom: 24px;
    color: #666;
  }
  .link {
    font-size: 16px;
    color: #fff;
    background-color: #0070f3;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 8px;

    &:hover{
      background-color: #0056b9;
    }
  }
}

.navbar{
  margin: auto;
  margin-top: 50px;  
  ul{
    display: flex;
    justify-content: start;    
    background-color: #000;
    border-radius: 25px;
    padding: 0 20px;
    width: min-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    margin: auto;
    text-align: center;
    li{         
      a{
        display: block;
        padding: 15px 15px;
        color: #fff;
        &:hover{
          color: #000;
          background-color: #fff;
        }
      }
    }    
  }

 
}

h1.page-heading{
  margin: 0 0 10px 0;
  font-size: 30px;
  margin: '0 0 10px 0';
  color:#0070f3;
  text-decoration: 'none';
  text-align: center;
  margin-top: 20px;
}

/* app/blog/page.module.css */
.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: #f9f9f9;

  .post {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  
  .post h2.blog-title{
    margin: 0 0 10px 0;
    font-size: 22px;
    margin: '0 0 10px 0';
    color: #000;
    text-decoration: 'none';
  }

  .post h2.list-page{
    color:#0070f3;
    font-size: 20px;
  }
  
  .post p {
    margin: 0;
    font-size: 16px;
    color: #666;
  }

  .loader {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #888;
  }
  
  .noMorePosts {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #888;
  }
  
  .error {
    color: red;
    text-align: center;
    padding: 20px;
    font-size: 18px;
  }


.navigation-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  a {
    margin-right: 20px;
    text-decoration: none;
    color: blue;
  }

  a:hover {
    text-decoration: underline;
  }
  
}

.back-to-list{
  text-align: right;
  margin-top: 15px;
  .back-link {
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: green;
    
  }
}



.back-link:hover {
  text-decoration: underline;
}

  
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.scrollTop:hover {
  opacity: 1;
}

