@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;

  .title {
    font-size: 48px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    
  }
  .description {
    font-size: 18px;
    margin-bottom: 24px;
    color: #666;
  }
  .link {
    font-size: 16px;
    color: #fff;
    background-color: #0070f3;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 8px;

    &:hover{
      background-color: #0056b9;
    }
  }
}

.navbar{
  margin: auto;
  margin-top: 50px;  
  ul{
    display: flex;
    justify-content: start;    
    background-color: #000;
    border-radius: 25px;
    padding: 0 20px;
    width: min-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    margin: auto;
    text-align: center;
    li{         
      a{
        display: block;
        padding: 15px 15px;
        color: #fff;
        &:hover{
          color: #000;
          background-color: #fff;
        }
      }
    }    
  }

 
}


/* app/blog/page.module.css */
.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: #f9f9f9;

  .post {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    margin: '0 0 10px 0';
    color: '#0070f3';
    text-decoration: 'none';
    cursor: 'pointer';
  }
  
  .post p {
    margin: 0;
    font-size: 16px;
    color: #666;
  }

  loader{
    padding: '20px';
    text-align: 'center';
    font-size: '18px';
    color: '#666';
  }
}

